*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

**/bin/
**/obj/
**/out/

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class

logs/
.env
*.pid

project.lock.json
project.fragment.lock.json
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/

wwwroot/lib/
*.db
*.sqlite
*.pdb

ehthumbs.db
Icon?
Desktop.ini

